@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Code+Pro:wght@200&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;    
}

.caixas {
    height: 100%;
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa1 {
    width: 100%;
    height: 110vh;
    background-color: #0042ff;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa1 .name {
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffff00;
}

.caixa1 .sub {
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.btns button {
    height: 55px;
    width: 140px;
    background-color: #0032c2;
    padding: 10px;
    border: 3px solid #ffff00;
    font-size: 18px;
    font-weight: bold;
    color: #ffff00;
    box-shadow: 8px 8px #0032c2;
    cursor: pointer;
    transition: transform 0.6s;
}

.btns .github {
    width: 140px;
    flex-direction: row;
    gap: 10px;
}

.btns button:hover {
    color: white;
    border-color: white;
    background-color: #002899;
    box-shadow: none;
    transform: rotate(2deg) scale(110%);
}

.caixa2 {
    background-color: #e7ba07;
    width: 100%;
    height: 130%;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
}

.caixa2 h3 {
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.caixa-habilidades {
    background-color: #012030;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
}

.caixa-habilidades h3 {
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.caixa3 h3 {
    font-size: 40px;
    margin-top: 90px;
}

.caixa3 h4 {
    font-size: 40px;
}


@media (max-width: 768px) {
    .img-responsive {
        width: 170px;
    }  
}


/* Cards */


.caixa-branca {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tudo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.linha {
    gap: 100px;
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 300px;
    border: 3px solid white;
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 200px;
    transition: transform 0.4s;
    box-shadow: 7px 7px #107144;

}

.lab {
    font-weight: bold;
    font-size: 35px;
}

.img-last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 300px;
    border: 3px solid white;
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform 0.4s;
    box-shadow: 7px 7px #107144;

}

.img-last-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 300px;
    border: 3px solid white;
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 200px;
    transition: transform 0.4s;
    box-shadow: 7px 7px #107144;

}

@media (max-width:1200px) {
    .img {
        margin-bottom: 20px;
    }
    
}



.caixa-white {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    flex-direction: column;
}
.caixa-white:hover {
    transform: scale(107%);

}

.caixa-white-last {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    flex-direction: column;

}
.caixa-white-last:hover {
    transform: scale(107%);

}

.caixa-white-3 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    flex-direction: column;

}
.caixa-white-3:hover {
    transform: scale(107%);

}

.img:hover,
.img-last:hover,
.img-last-3:hover {
    transform:scale(107%);
    transition: 0.4s ease-out ;
    opacity: 90%;
    box-shadow: none;
}


.wesley {
    text-decoration:  underline 6px;
}


  #text:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 7px;
    height: 45px;
    width: 8px;
    animation: cursor 0.5s infinite;
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }

  .caixa3  {
        color: white;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 100%;
        border: 10px solid black;
        display: flex;
        align-items: center;
        flex-direction: column;
  }

  .caixa3 h4 {
      margin-top: 100px;
      margin-bottom: 20px;
  }

 .contatos {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-bottom: 160px;
     margin-top: 80px;
 }

 .caixa5 {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: #0042ff;
    border: 10px solid black;
    
}



.ultima-caixa {
    background-color: #012030;
    
}

 .card-insta,
 .card-email,
 .card-linkedin {
     padding: 35px;
     width: 290px;
     cursor: pointer;
     border: 3px solid white;
     margin: 0 auto;
     margin-bottom: 40px;
     transition: transform 0.4s;
    box-shadow: 7px 7px  rgb(61, 61, 61);
 }

 .card-insta:hover,
 .card-email:hover,
 .card-linkedin:hover {
     padding: 35px;
     transform: rotate(2deg) scale(103%);
     width: 290px;
     opacity: 100%;
     box-shadow: none;
 }

 a {
     text-decoration: none;
     color: white;
 }

 a:hover {
     color: white;
 }
 .card-insta p,
 .card-email p,
 .card-linkedin p {
     margin-top: 20px;
 }

 .line {
    color: #ffff00;
    font-size: 50px;
    border-right: 3px solid #ffff00;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
 }

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 15em;
    }
}

 @keyframes blinkCursor{
     from {
         border-right-color: #ffff00;
     }
     to {
            border-right-color: transparent;
     }
 }

 @media (max-width: 1200px) {
     .line {
        font-size: 20px;
        margin-top: 100px;
        transition: 2s;
    }
 }

 .container {
     font-size: 22px;
     display: flex;
     text-align: center;
     max-width: 900px;
     margin-bottom: 100px;
 }

 .curriculo {
     border: white solid 3px;
     color: #ffffff;
     background-color: #e7ba07;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.4s;
 }

 .curriculo:hover {
        transform: scale(103%);
 }

 @media (min-width:677px) {
    .curriculo {
        border: white solid 3px;
        padding: 10px;
        width: 40%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
 }





 /* habilidades cards */

 .html,
 .css,
 .javascript,
 .bootstrap,
 .react,
 .git {
    text-align: center;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    flex-direction: column;
    transition: 0.4s ease-out ;
    cursor: pointer;
 }

 .html:hover,
 .css:hover,
 .javascript:hover,
 .bootstrap:hover,
 .react:hover,
 .git:hover {
    transform: rotate(-2deg) scale(110%);
    opacity: 100%;
 }


 .footer {
     display: flex;
     justify-content: space-evenly;
 }


 [data-anime] {
    opacity: 0;
    transition: 0.9s;
 }
 
 [data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
 }


 [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
 }

 .container a {
    box-shadow: 8px 8px #c8a20d;
 }

 .container a:hover {
    box-shadow: none;
    transform: rotate(1deg) scale(102%);
 }

.btn-acessar {
    background-color: white;
    color: #107144;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
    border: 1px solid white;
}

.btn-acessar:hover {
    transition: 0.4s;
    background-color: white;
    color: #107144;
    border-bottom: 1px solid #107144;
}